---
import Header from '../../components/header/index.astro';
import SEO from '../../components/seo/index.astro';
import '../../style/index.css';
import { getSanityContact } from '../../utils/getSanityContact';
import { renderMarkdown } from '../../utils/markdownRenderer';

const contact = await getSanityContact();
const contactHtml = renderMarkdown(contact?.introMarkdown ?? '');
const personal_urls = contact?.links ?? [];
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <SEO title="Reach Out" description="Find Emmanuel Obiabo online and get in touch for work, collaboration, or direct messages." />
</head>
<body>
    <Header/>

    <div class="max-w-2xl mx-auto px-4 py-8 font-serif">
        <div>

            <article>
                <Fragment set:html={contactHtml} />
            </article>


        </div>


        <section id="reach" class="mt-4">
            <h4 class="my-4">Find Me Online</h4>
            <ul>
                {personal_urls.map((item) => (
                    <li class="my-2">
                        <a href={item.url} target="_blank" rel="noreferrer" class="text-default underline ">
                            {item.title}
                        </a>: {item.description}
                    </li>
                ))}
            </ul>
        </section>
    </div>
</body>
</html>
