---
  import Nav from './nav.astro'
  import { getSanityContact } from '../../utils/getSanityContact'

  const contact = await getSanityContact()
  const personal_urls = contact?.links?.filter((item) => item.showInHeader) ?? []

---

<div>
 
  <Nav/>

  <header class="text-center mb-12 mt-12">
    <img
      src="https://avatars.githubusercontent.com/u/54102389?v=4"
      alt="Profile picture"
      width="80"
      height="80"
      class="rounded-lg mx-auto mb-4"
    />


    <h1 class="text-3xl font-bold mb-2">Emmanuel Obiabo</h1>

    <div class="flex items-center flex-wrap gap-2 justify-center">
      {
        personal_urls.map ( items => (
          <a class="text-default text-xs underline"
             href={items.url} target="_blank" rel="noreferrer">{items.headerTitle ?? items.title}</a>
        ))
      }
    </div>

  </header>
</div>
